[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[alias]
        a      =       add
        cm     =       commit
        co     =       checkout
        la     =       "!git config -l | grep alias | cut -c 7-"
        lg     =       log
        pl     =       pull
        ps     =       push
        s      =       status -s