[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[alias]
        a      =       add
        cm     =       commit
        co     =       checkout
        la     =       "!git config -l | grep alias | cut -c 7-"
        lg     =       log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
        pl     =       pull
        ps     =       push
        s      =       status -s